* {
  font-size: 16px;
  margin-top: 0;
  margin-right: 0;
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid #c5c5df;
  border-collapse: collapse;
}

td, th {
  padding: 7px;
}

tr:hover {
  cursor: pointer;
  background: #f0f0f0;
}

th {
  border-bottom: 1px solid #dfdff9;
}

.right-border {
  border-right: 1px solid #dfdff9;
}

.stat {
  font-weight: bold;
}

.stat:hover {
  background: #d7d7d7;
}

.wk {
  color: #f55535;
}

.rs {
  color: #31b0d5;
}

.nu {
  color: #5e5e5e;
}

.rp {
  color: #caa83c;
}

.ab {
  color: #4cae4c;
}

table td:nth-of-type(2) {
  text-align: left;
}
table td:nth-of-type(3) {
  text-align: left;
}
