<h2 class="text-center">
  {{persona.name}} | {{persona.arcana}} | {{persona.level}}
</h2>
<div class="container offset-md-3 col-md-6 offset-lg-3 col-lg-6">
  <h4 class="text-center">
    Stats
  </h4>
  <table>
    <thead>
    <tr class="hidden-sm-down">
      <th>Strength</th>
      <th>Magic</th>
      <th>Endurance</th>
      <th>Agility</th>
      <th>Luck</th>
    </tr>
    <tr class="hidden-sm-up">
      <th>St</th>
      <th>Ma</th>
      <th>En</th>
      <th>Ag</th>
      <th>Lu</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{persona.strength}}</td>
      <td>{{persona.magic}}</td>
      <td>{{persona.endurance}}</td>
      <td>{{persona.agility}}</td>
      <td>{{persona.luck}}</td>
    </tr>
    </tbody>
  </table>
  <h4 class="text-center">
    Elements
  </h4>
  <table>
    <thead>
    <tr class="hidden-md-down">
      <th>Physical</th>
      <th>Gun</th>
      <th>Fire</th>
      <th>Ice</th>
      <th>Electric</th>
      <th>Wind</th>
      <th>Psychic</th>
      <th>Nuclear</th>
      <th>Bless</th>
      <th>Curse</th>
    </tr>
    <tr class="hidden-lg-up">
      <th>Ph</th>
      <th>G</th>
      <th>F</th>
      <th>I</th>
      <th>E</th>
      <th>W</th>
      <th>Ps</th>
      <th>N</th>
      <th>B</th>
      <th>C</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td [ngClass]="persona.physical" >{{persona.physical}}</td>
      <td [ngClass]="persona.gun" >{{persona.gun}}</td>
      <td [ngClass]="persona.fire" >{{persona.fire}}</td>
      <td [ngClass]="persona.ice" >{{persona.ice}}</td>
      <td [ngClass]="persona.electric" >{{persona.electric}}</td>
      <td [ngClass]="persona.wind" >{{persona.wind}}</td>
      <td [ngClass]="persona.psychic" >{{persona.psychic}}</td>
      <td [ngClass]="persona.nuclear" >{{persona.nuclear}}</td>
      <td [ngClass]="persona.bless" >{{persona.bless}}</td>
      <td [ngClass]="persona.curse" >{{persona.curse}}</td>
    </tr>
    </tbody>
  </table>
  <h4 class="text-center">
    Skills
  </h4>
  <table class="table-striped">
    <thead>
    <tr>
      <th>Level</th>
      <th>Name</th>
      <th>Type</th>
      <th class="hidden-md-down">Effect</th>
      <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skills">
      <td>{{skill.getPersonaSkillLevel(persona.name)}}</td>
      <td>{{skill.name}}</td>
      <td>{{skill.element}}</td>
      <td class="hidden-md-down">{{skill.effect}}</td>
      <td>{{skill.cost}}</td>
    </tr>
    </tbody>
  </table>
  <h4 class="text-center">
    Fusion to this persona
  </h4>
  <table class="table-striped">
    <thead>
    <tr>
      <th>N</th>
      <th>Cost</th>
      <th>Ingredients</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipi of recipes; let i = index">
      <td>{{i + 1}}</td>
      <td>¥0</td>
      <td *ngFor="let ingredient of recipi.ingredients"
          (click)="goToPersonaDetails(ingredient.name)"
          class="ingredient">
          {{ingredient.name}} | {{ingredient.arcana}} | {{ingredient.level}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
