table {
  width: 100%;
  border: 1px solid #c5c5df;
}

td, th {
  padding: 10px 5px 10px 5px;
  text-align: left;
}

th {
  font-size: 14px;
  border-bottom: 1px solid #dfdff9;
}

h4, h2 {
  padding-top: 5px;
}

.wk {
  color: #f55535;
}

.rs {
  color: #31b0d5;
}

.nu {
  color: #5e5e5e;
}

.rp {
  color: #caa83c;
}

.ab {
  color: #4cae4c;
}

.ingredient:hover {
  cursor: pointer;
  background: #d7d7d7;
}
