table {
  width: 100%;
  border: 1px solid #c5c5df;
}

th {
  font-size: 14px;
  border-bottom: 1px solid #dfdff9;
}

td, th {
  padding: 10px 5px 10px 5px;
  text-align: left;
}

h4, h2 {
  padding-top: 5px;
}
