<table>
  <thead>
    <tr>
      <th class="right-border">Lvl</th>
      <th class="right-border">Name</th>
      <th class="right-border">Arcana</th>
      <th class="hidden-md-down">St</th>
      <th class="hidden-md-down">Mg</th>
      <th class="hidden-md-down">En</th>
      <th class="hidden-md-down">Ag</th>
      <th class="hidden-md-down right-border">Lu</th>
      <th class="hidden-sm-down">Ph</th>
      <th class="hidden-sm-down">Gun</th>
      <th class="hidden-sm-down">Fr</th>
      <th class="hidden-s m-down">Ice</th>
      <th class="hidden-sm-down">El</th>
      <th class="hidden-sm-down">Wn</th>
      <th class="hidden-sm-down">Ps</th>
      <th class="hidden-sm-down">Nu</th>
      <th class="hidden-sm-down">Bl</th>
      <th class="hidden-sm-down">Crs</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let persona of getPersonasToShow() | orderby:'level':'+'">
      <td class="right-border">{{persona.level}}</td>
      <td (click)="goToPersonaDetails(persona.name)" class="right-border name">{{persona.name}}</td>
      <td class="right-border">{{persona.arcana}}</td>
      <td class="hidden-md-down" >{{persona.strength}}</td>
      <td class="hidden-md-down" >{{persona.magic}}</td>
      <td class="hidden-md-down" >{{persona.endurance}}</td>
      <td class="hidden-md-down" >{{persona.agility}}</td>
      <td class="hidden-md-down right-border">{{persona.luck}}</td>
      <td (click)="addFilterByAliment('physical', persona.physical)" class="hidden-sm-down" [ngClass]="persona.physical">{{persona.physical}}</td>
      <td (click)="addFilterByAliment('gun', persona.gun)" class="hidden-sm-down" [ngClass]="persona.gun">{{persona.gun}}</td>
      <td (click)="addFilterByAliment('fire', persona.fire)" class="hidden-sm-down" [ngClass]="persona.fire">{{persona.fire}}</td>
      <td (click)="addFilterByAliment('ice', persona.ice)" class="hidden-sm-down" [ngClass]="persona.ice">{{persona.ice}}</td>
      <td (click)="addFilterByAliment('electric', persona.electric)" class="hidden-sm-down" [ngClass]="persona.electric">{{persona.electric}}</td>
      <td (click)="addFilterByAliment('wind', persona.wind)" class="hidden-sm-down" [ngClass]="persona.wind">{{persona.wind}}</td>
      <td (click)="addFilterByAliment('psychic', persona.psychic)" class="hidden-sm-down" [ngClass]="persona.psychic">{{persona.psychic}}</td>
      <td (click)="addFilterByAliment('nuclear', persona.nuclear)" class="hidden-sm-down" [ngClass]="persona.nuclear">{{persona.nuclear}}</td>
      <td (click)="addFilterByAliment('bless', persona.bless)" class="hidden-sm-down" [ngClass]="persona.bless">{{persona.bless}}</td>
      <td (click)="addFilterByAliment('curse', persona.curse)" class="hidden-sm-down" [ngClass]="persona.curse">{{persona.curse}}</td>
    </tr>
  </tbody>
</table>
