<h4 class="text-center">
  Stats
</h4>
<table>
  <thead>
  <tr class="hidden-sm-down">
    <th>Strength</th>
    <th>Magic</th>
    <th>Endurance</th>
    <th>Agility</th>
    <th>Luck</th>
  </tr>
  <tr class="hidden-sm-up">
    <th>St</th>
    <th>Ma</th>
    <th>En</th>
    <th>Ag</th>
    <th>Lu</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{persona.strength}}</td>
    <td>{{persona.magic}}</td>
    <td>{{persona.endurance}}</td>
    <td>{{persona.agility}}</td>
    <td>{{persona.luck}}</td>
  </tr>
  </tbody>
</table>
