<h4 class="text-center">
  Fusion from this persona | {{recipesAll.length}}
</h4>

<div class="form-group">
  <input #recipiFilter
         class="form-control"
         placeholder="Name filter"
         (input)="filterByName()">
</div>

<table id="test" class="table-striped">
  <thead>
  <tr>
    <th>N</th>
    <th>Cost</th>
    <th>Fuse with</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipi of recipesToShow | orderby:'price':'+' | limit:limit; let i = index">
    <td>{{i + 1}}</td>
    <td>{{recipi.price | currency:'JPY':true}}</td>
    <td *ngFor="let ingredient of recipi.ingredients"
        (click)="goToPersonaDetails(ingredient.name)"
        class="clickable">
      {{ingredient.name}} ({{ingredient.arcana}}|{{ingredient.level}})
    </td>
    <td class="clickable" (click)="goToPersonaDetails(recipi.result.name)" >
      {{recipi.result.name}} ({{recipi.result.arcana}}|{{recipi.result.level}})
    </td>
  </tr>
  <tr *ngIf="recipesToShow.length > 10">
    <td (click)="toggleLimit()" class="clickable" style="text-align: center" colspan="4"> ◯ ◯ ◯ </td>
  </tr>
  </tbody>
</table>
