<div class="form-group">
  <input #searchInput
         class="form-control"
         placeholder="Name filter"
         (input)="filterByName()"
         [attr.disabled]="getCurrentAlimentFilters().length === 0 ? null : ''" >
</div>

<ul class="list-inline">
  <li class="list-inline-item" *ngFor="let aliment of getCurrentAlimentFilters()">
      <span class="badge"
            (click)="removeFilterByAliment(aliment)"
            [ngClass]="aliment.alimentValue">{{aliment.alimentName}} ✖</span>
  </li>
</ul>
